{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 versions"
        },
        "production": {
          "plugins": [
            ["transform-class-properties", { "loose": true }]
          ]
        },
        "development": {
          "plugins": [
            "react-hot-loader/babel",
            ["transform-class-properties", { "loose": true }]
          ]
        }
      }
    ],
    "react",
    "es2015",
    "stage-0"
  ]
}
